<div class="post-index">
  <header id="header" role="banner">
    <div class="container">
      <div class="post-header-inner">
        <h1 class="post-arck-logo"><%= link_to 'Arck', pages_index_path %></h1>
        <div class="btn-post-create">
          <%= link_to '投稿を作成する', new_post_path %>
        </div>
        <div class="btn btn-logout">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <!--</div>-->
      
      <nav class="post-nav" role="navigation">
          <ul>
            <li class="col-md-3"><%= link_to 'タイムライン', posts_path, class: 'nav-link' %></li>
            <li class="col-md-3"><%= link_to 'ブログ', blogs_path, class: 'nav-link' %></li>
            <li class="col-md-3"><%= link_to '記事', new_post_path, class: 'nav-link' %></li>
            <li class="col-md-3"><%= link_to 'マイページ', new_post_path, class: 'nav-link' %></li>
          </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
            <div class="col-md-6 col-md-offset-3">
              <div class="post-index-single">
                <h2 class="post-author">
                  <%= post.user.name %>
                </h2>
                <%= image_tag post.image.url %>
                <!--<%= image_tag 'icons/heart-black.png', class: 'post-index-icon' %>-->
                <!--<%= image_tag 'icons/comment.png', class: 'post-index-icon' %>-->
                <p class="post-text">
                  <%= post.description %>
                </p>
              </div>
            </div>
          <% end %> 
    </div>
  </div>  
  </div>