<!DOCTYPE html>
<html>
  <head>
    <title>Arck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header id="header" role="banner">
    <div class="container">
      <div class="header-inner">
        <h1 class="arck-logo"><a href="index.html">Arck</a></h1>
        <nav role=navigation>
          <ul>
            <li><a href="work.html">活動</a></li>
            <li><a href="introdution.html">機能紹介</a></li>
            <li><a href="contact.html">お問い合わせ</a></li>
            <% if user_signed_in? %>
            <div class="btn btn-secondary whitecor-link">
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </div>
            <% else %>
              <li class="register-btn"><%= link_to "はじめよう", new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
    <%= yield %>
  <footer>
    <div class="container">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h3>About Us</h3>
        <p>アプリのアイコンとか</p>
      </div>
    </div>
  </footer>
  </body>
</html>
